{
  "plugins": [
    [
      "@babel/plugin-transform-react-jsx",
      {
        "importSource": "preact",
        "runtime": "automatic"
      }
    ],
    ["babel-plugin-jsx-pragmatic", { "module": "preact", "import": "preact" }]
  ],
  "presets": ["@babel/preset-env"]
}
