{
  "plugins": [
    ["@babel/plugin-transform-react-jsx", { "pragma": "preact.h", "pragmaFrag": "Fragment" }],
    ["babel-plugin-jsx-pragmatic", { "module": "preact", "import": "preact" }]
  ],
  "presets": ["@babel/preset-env"]
}
